# IDE
.idea/

# Go binaries
gossip-agent/tcp_listener
gossip-agent/ebpf/gen_tcp_bpfel.go
gossip-agent/ebpf/gen_tcp_bpfel.o
gossip-agent/ebpf/kernel/vmlinux.h

# Gradle
gossip-collector/gradle/
gossip-collector/gradlew
gossip-collector/gradlew.bat

# Node
node_modules/

# Frontend (Vite/React)
gossip-frontend/dist/
gossip-frontend/.env.local
